


#hist {
    margin: 10px;
}

#header {
    border-bottom: 1px solid #333;
}

#search-form .form-group {
    padding: 10px 20px 0 20px;
}

#search-form .form-label {
    float: left;
    text-align: right;
    width: 150px;
    margin-right: 10px;
}

#search-form .form-input-container {
    display: inline-block;
    width: calc(100% - 200px);
}

#search-form .form-input {
    width: 100%;
}

.btn-container {
    text-align: center;
    margin: 10px 0;
}